In [2]:
import keras
from sklearn.metrics import mean_absolute_error
from IPython.display import SVG
from keras.optimizers import Adam
from keras.utils.vis_utils import model_to_dot
from keras.layers import merge,concatenate
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

%matplotlib inline

D:\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
dataset = pd.read_csv("dat/ratings.dat",sep='::',names="user_id,item_id,rating,timestamp".split(","))

In [4]:
dataset.head()

   user_id  item_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291

In [5]:
len(dataset.user_id.unique()), len(dataset.item_id.unique())

(6040, 3706)

In [6]:
dataset.user_id = dataset.user_id.astype('category').cat.codes.values
dataset.item_id = dataset.item_id.astype('category').cat.codes.values

In [7]:
dataset.head()

   user_id  item_id  rating  timestamp
0        0     1104       5  978300760
1        0      639       3  978302109
2        0      853       3  978301968
3        0     3177       4  978300275
4        0     2162       5  978824291

In [8]:
train, test = train_test_split(dataset, test_size=0.2)

In [9]:
n_users, n_movies = len(dataset.user_id.unique()), len(dataset.item_id.unique())
n_latent_factors = 3

In [40]:
n_latent_factors_user = 5
n_latent_factors_movie = 8

movie_input = keras.layers.Input(shape=[1],name='Item')
movie_embedding = keras.layers.Embedding(n_movies + 1, n_latent_factors_movie, name='Movie-Embedding')(movie_input)
movie_vec = keras.layers.Flatten(name='FlattenMovies')(movie_embedding)
movie_vec = keras.layers.Dropout(0.2)(movie_vec)


user_input = keras.layers.Input(shape=[1],name='User')
user_vec = keras.layers.Flatten(name='FlattenUsers')(keras.layers.Embedding(n_users + 1, n_latent_factors_user,name='User-Embedding')(user_input))
user_vec = keras.layers.Dropout(0.2)(user_vec)


concat = concatenate([movie_vec, user_vec],name='Concat')
concat_dropout = keras.layers.Dropout(0.2)(concat)

reshape = keras.layers.Reshape((13,1))(concat_dropout)
ltsm = keras.layers.LSTM(62, )(reshape)

dense = keras.layers.Dense(256,name='FullyConnected')(ltsm)
dropout_1 = keras.layers.Dropout(0.2,name='Dropout')(dense)
dense_2 = keras.layers.Dense(128,name='FullyConnected-1')(concat)
dropout_2 = keras.layers.Dropout(0.2,name='Dropout')(dense_2)
dense_3 = keras.layers.Dense(64,name='FullyConnected-2')(dense_2)
dropout_3 = keras.layers.Dropout(0.2,name='Dropout')(dense_3)
dense_4 = keras.layers.Dense(32,name='FullyConnected-3', activation='relu')(dense_3)

result = keras.layers.Dense(1, activation='relu',name='Activation')(dense_4)
adam = Adam(lr=0.005)
model = keras.Model([user_input, movie_input], result)
model.compile(optimizer=adam,loss= 'mean_absolute_error')

In [41]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Item (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
User (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
Movie-Embedding (Embedding)     (None, 1, 8)         29656       Item[0][0]
__________________________________________________________________________________________________
User-Embedding (Embedding)      (None, 1, 5)         30205       User[0][0]
__________________________________________________________________________________________________
FlattenMovies (Flatten)         (None, 8)            0           Movie-Embedding[0][0]
__________________________________________________________________________________________________
FlattenUsers (Flatten)          (None, 5)            0           User-Embedding[0][0]
__________________________________________________________________________________________________
dropout_76 (Dropout)            (None, 8)            0           FlattenMovies[0][0]
__________________________________________________________________________________________________
dropout_77 (Dropout)            (None, 5)            0           FlattenUsers[0][0]
__________________________________________________________________________________________________
Concat (Concatenate)            (None, 13)           0           dropout_76[0][0]
                                                                 dropout_77[0][0]
__________________________________________________________________________________________________
FullyConnected-1 (Dense)        (None, 100)          1400        Concat[0][0]
__________________________________________________________________________________________________
FullyConnected-2 (Dense)        (None, 50)           5050        FullyConnected-1[0][0]
__________________________________________________________________________________________________
FullyConnected-3 (Dense)        (None, 20)           1020        FullyConnected-2[0][0]
__________________________________________________________________________________________________
reshape_7 (Reshape)             (None, 20, 1)        0           FullyConnected-3[0][0]
__________________________________________________________________________________________________
lstm_20 (LSTM)                  (None, 15)           1020        reshape_7[0][0]
__________________________________________________________________________________________________
Activation (Dense)              (None, 1)            16          lstm_20[0][0]
==================================================================================================
Total params: 68,367
Trainable params: 68,367
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
history = model.fit([train.user_id, train.item_id], train.rating, epochs=5)

In [ ]:
pd.Series(history.history['loss']).plot(logy=True)
plt.xlabel("Epoch")
plt.ylabel("Train Error")

In [ ]:
y_hat = np.round(model.predict([test.user_id, test.item_id]),0)
y_true = test.rating
y_hat_2 = np.round(model.predict([test.user_id, test.item_id]),0)
print(mean_absolute_error(y_true, y_hat_2))

print(mean_absolute_error(y_true, model.predict([test.user_id, test.item_id])))